{% extends 'base.html' %}

{% block content %}

<form method="get" action="/book">
    <p align="center">
        <button class="btn btn-primary" type="submit" style="margin-top:1%"> Return To Booking Page </button>
    </p>
</form>

<div align="center" style="margin-top:5%" class="container">
    <h1> Booking successful!</h1>
    <h3> Ticket Details.... </h3>
    <p> Train Number : {{ coach.train_no }} </p>
    <p> Coach Number : {{ coach.coach_no }} </p>
    <p> Passengers in your coach : {{ coach.passengers }} </p>
</div>

{% endblock %}